.jkyogGiftshopOffers {
    position: absolute;
    top: 100px;
    left: calc(50% - 424px);
    font-size: 40px;
    line-height: 133.7%;
    font-weight: 500;
    text-align: left;
  }
  .head {
    display: flex;
    position: relative;
    left: 150px;
  }
  @media (max-width:1400px) {
    .head {
      display: flex;
      position: relative;
   left:-80px;
    
    }
  }

  .antDesigntrophyOutlined,
  .frameChild,
  .groupChild {
    position: absolute;
    top: 606px;
    left: 465px;
    width: 61px;
    height: 61px;
    overflow: hidden;
  }
  .frameChild,
  .groupChild {
    top: 213px;
    left: 1011px;
    width: 100px;
    height: 100px;
  }
  .groupChild {
    top: 0;
    left: 42px;
    border-radius: var(--br-121xl);
    width: 140px;
    height: 140px;
  }
  .convenientShopping {
    position: absolute;
    width: 224px;
    height: 76px;
    left: 5px;
    top: 164px;
    
    font-family: Satoshi, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 141.7%;
    /* or 28px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .frameParent,
  .groupWrapper {
    position: absolute;
    top: 3px;
    left: 35px;
    width: 224px;
    height: 235px;
  }
  .groupWrapper {
    top: 248px;
    left: 100px;
    width: 294px;
    height: 240px;
    overflow: hidden;
  }
  .secureTransactions {
    position: absolute;
    width: 224px;
    height: 76px;
    left: 10px;
    top: 164px;
    
    font-family: Satoshi, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 141.7%;
    /* or 28px */
    
    text-align: center;
    
    color: #FFFFFF;
  }
  .frameDiv,
  .groupContainer,
  .groupFrame {
    position: absolute;
    top: 248px;
    left: 730px;
    width: 294px;
    height: 240px;
    overflow: hidden;
  }
  .frameDiv,
  .groupFrame {
    left: 417px;
  }
  .frameDiv {
    left: 1047px;
  }
  .jkyogGiftshopOffersSeveralParent {
    position: relative;
    background-color: #e88466;
    width: 100%;
    height: 565px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-montagu-slab);
  }
  