/* Base styles */
.sitemap-item {
  margin: 10px;
  flex-basis: calc(23% - 20px); /* for desktop */
}

.sitemap-title {
  font-size: 1.6rem;
  font-family: "Satoshi, sans-serif";
  color: #21282d;
  margin-bottom: 0.9rem;
  text-align: center;
  line-height: 1.2;
}

.sitemap-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  text-align: center;
}

.sitemap-list-item {
  /* margin-bottom: 5px; */
  color: #347d56;
  cursor: pointer;
  font-size: 16px;
}
.sitemap-list-item:hover{
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .sitemap-item {
    flex-basis: calc(33.333% - 20px); /* for smaller desktops */
  }
}

@media (max-width: 992px) {
  .sitemap-item {
    flex-basis: calc(50% - 20px); /* for tablets */
  }
}

@media (max-width: 768px) {
  .sitemap-item {
    flex-basis: calc(100% - 20px); /* for landscape phones and smaller */
  }
  
  .sitemap-title {
    font-size: 20px; /* slightly smaller title on smaller screens */
  }
  
  .sitemap-list-item {
    font-size: 14px; /* smaller text for list items on smaller screens */
  }
}
